<form #f="ngForm">
  <div class="form-group row">
    <div class="col-sm-2">
        <div class="form-group">
            <button (click)="addPrizesForm()" class="btn btn-primary">Prizai</button>
          </div>
      <div class="form-group">
        <button (click)="addLevel()" class="btn btn-primary">Prideti Lygi</button>
      </div>
      <div class="form-group">
        <ul *ngFor="let level of leveliai  ">
          <li (click)="levelInfo(level)">{{ level.$key }} Lygis</li>
        </ul>
      </div>
    </div>
    <div class="form-group" class="col-sm-8">
    <div *ngIf="openForm || editForm " >
      <div class="form-group">
        <div class="form-group">
          <label>Lygis {{ levelInformation.$key || level }}</label>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
            <label for="points">Tasku skaicius</label>
          </div>
          <div class="col-sm-4 row ">
            <div class="form-group col-sm-6">
                <input required ngModel [(ngModel)]="levelInformation.points || loyaltLevel" name="points" type="number" min="1" class="form-control" #points="ngModel"
                maxlength="4" id="points">
              <div *ngIf="points.touched && !points.valid" class="alert alert-danger">Iveskite tasku skaiciu</div>
            </div>
            <div class="form-group col-sm-6">
                <button (click)="updatePoints(f.value)" *ngIf="editForm" class="btn primary">Pakeisti skaiciu</button>
            </div>
          </div>
        </div>
        <button *ngIf="openForm" [disabled]="!f.valid"  (click)="saveLevel(f.value)" class="btn btn-primary">Issaugoti</button>
        <button (click)="offerForm()" class="btn btn-primary">Prideti pasiulyma</button>
        <div class="form-group">
          <ul *ngFor="let offer of loyaltyOffers$ | async ">
            <li (click)="offerInformation(offer)">{{ offerLength }} pasiulymas</li>
          </ul>
        </div>
      </div>
      <div *ngIf="openOfferForm || editOfferForm" class="form-group">
        <div class="form-group row">
          <div class="form-group col-sm-6">
            <label for="offer">Nuolatine nuolaida</label>
            <select ngModel name="offer" id="offer" [(ngModel)]="totalInformation.category" class="form-control" #offer="ngModel" required>
              <option value="">Pasirinkite</option>
              <option *ngFor="let offer of discountTypes" [value]="offer.name">{{ offer.name }}</option>
            </select>
            <div *ngIf="offer.touched && !offer.valid" class="alert alert-danger">Iveskite Apsilankymu skaiciu</div>
          </div>
          <div class="form-group col-sm-6">
            <label for="discountSize">Nuolaidos dydis</label>
            <input required ngModel [(ngModel)]="totalInformation.shortcut" name="discountSize" #discountSize="ngModel" type="text" placeholder="Pavyzdys -15% ar -5e"
              class="form-control">
            <div *ngIf="discountSize.touched && !discountSize.valid" class="aler alert-danger">Iveskite Nuolaidos dydi</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="form-group col-sm-6">
            <label for="gender">Auditorija</label>
            <select ngModel name="gender" [(ngModel)]="totalInformation.gender" id="gender" class="form-control" #gender="ngModel" required>
              <option value="">Pasirinkite</option>
              <option value="Vyras">Vyras</option>
              <option value="Moteris">Moteris</option>
              <option value="Visi">Visi</option>
            </select>
            <div *ngIf="gender.touched && !gender.valid" class="aler alert-danger">Iveskite Nuolaidos dydi</div>
          </div>
          <div class="form-group col-sm-6">
            <div class="form-group row">
              <div class="form-group col-sm-6">
                <label for="ageFrom">Nuo</label>
                <input type="number" [(ngModel)]="totalInformation.age_from" min="1" ngModel name="ageFrom" class="form-control">
              </div>
              <div class="form-group col-sm-6">
                <label for="ageTo">Iki</label>
                <input type="number" min="1" max="99" [(ngModel)]="totalInformation.age_to" ngModel name="ageTo" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Aprasymas</label>
          <textarea required ngModel [(ngModel)]="totalInformation.description" name="description" id="description" class="form-control"
            cols="15" rows="5"></textarea>
        </div>
        <button *ngIf="openOfferForm" [disabled]="!f.valid"  (click)="saveOffer(f.value)" class="btn btn-primary">Issaugoti</button>
        <button *ngIf="editOfferForm" [disabled]="!f.valid" (click)="updateOffer(f.value)" class="btn btn-primary">Pakeisti</button>
      </div>
    </div>
    <div *ngIf="prizesForm" class="form-group">
      <div class="form-group">
        <button (click)="showPrizesForms()" class="btn btn-primary">Prideti Priza</button>
      </div>
      <div *ngIf="showPrizesForm || editPrize" class="form-group">
      <h2>Prizai</h2>
      <div class="form-group">
        <label for="shortDescription">Pavadinimas</label>
        <input type="text" ngModel name="shortDescription" [(ngModel)]="infoPrizes.short_description" class="form-control" required #shortDescription="ngModel">
      </div>
      <div class="form-group">
        <label for="neededPoints">Tasku kiekis</label>
        <input required type="number" min="1" class="form-control" [(ngModel)]="infoPrizes.points" ngModel name="neededPoints" #neededPoints="ngModel">
      </div>
      <div class="form-group">
        <label for="description">Aprasymas</label>
        <textarea ngModel name="description" class="form-control" [(ngModel)]="infoPrizes.description" required cols="10" rows="5" #description="ngModel"></textarea>
      </div>
    
      <button *ngIf="showPrizesForm" class="btn primary" [disabled]="!f.valid" (click)="savePrizes(f.value)">Issaugoti</button>
      <button *ngIf="editPrize" class="btn primary" [disabled]="!f.valid" (click)="updatePrize(f.value)">Pakeisti</button>
    </div>
    <div class="form-group">
        <ul *ngFor="let prize of prizes$ | async  ">
          <li (click)="prizeInfo(prize)">{{ prize.short_description }} </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</form>